In [1]:
import pandas as pd

print(pd.__version__)

1.3.4

In [2]:
#Data Frame yang akan digunakan
df = pd.util.testing.makeMissingDataframe().reset_index()
df.head()

C:\Users\AC\anaconda3\lib\site-packages\pandas\util\__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

        index         A         B         C         D
0  13oSkFvckM  0.293070 -0.946267 -0.465425  0.717786
1  62uVxAeiVr  0.957724  0.873860  0.221160 -0.174691
2  ZLOcCFdY1C -0.123708 -0.706277  0.449064 -0.575944
3  OWfPHmmR41 -1.892363  0.624476  0.703822 -1.007202
4  gmKc3d1GOD  1.059012       NaN       NaN -0.286439

In [3]:
#Merubah kata index menjadi huruf Z
df= df.rename(columns={'index':'Z'})
df.head()

            Z         A         B         C         D
0  13oSkFvckM  0.293070 -0.946267 -0.465425  0.717786
1  62uVxAeiVr  0.957724  0.873860  0.221160 -0.174691
2  ZLOcCFdY1C -0.123708 -0.706277  0.449064 -0.575944
3  OWfPHmmR41 -1.892363  0.624476  0.703822 -1.007202
4  gmKc3d1GOD  1.059012       NaN       NaN -0.286439

In [4]:
#untuk mengopy tabel sebelumnya
df_backup = df.copy(deep=True)

In [5]:
#Untuk menghapus atau drop setiap kolom yang mengandung missing values
df= df.dropna(axis='columns')
df.head()

            Z
0  13oSkFvckM
1  62uVxAeiVr
2  ZLOcCFdY1C
3  OWfPHmmR41
4  gmKc3d1GOD

In [6]:
#Berfungsi untuk menghapus(drop) setiap baris yang mengandung missing values

df= df_backup.copy(deep=True) #untuk mengcopy data sebelumnya
df= df.dropna(axis='rows')
df.head()

            Z         A         B         C         D
0  13oSkFvckM  0.293070 -0.946267 -0.465425  0.717786
1  62uVxAeiVr  0.957724  0.873860  0.221160 -0.174691
2  ZLOcCFdY1C -0.123708 -0.706277  0.449064 -0.575944
3  OWfPHmmR41 -1.892363  0.624476  0.703822 -1.007202
5  k4QT4MIFUa -0.420186 -0.536737  0.360010  0.186874

In [7]:
#Memunculkan presentase missing values untuk tiap kolom

df= df_backup.copy(deep=True)
df.isna().mean()

Z    0.000000
A    0.100000
B    0.133333
C    0.100000
D    0.066667
dtype: float64

In [8]:
#Berfungsi untuk menghapus (drop) kolom yang mengandung missing values berdasarkanthreshold tertentu

treshold= len(df)*0.9 #pertama menentukan ambang batasnya terlebih dahulu

df= df.dropna(thresh=treshold, axis='columns')
df.head()

            Z         A         C         D
0  13oSkFvckM  0.293070 -0.465425  0.717786
1  62uVxAeiVr  0.957724  0.221160 -0.174691
2  ZLOcCFdY1C -0.123708  0.449064 -0.575944
3  OWfPHmmR41 -1.892363  0.703822 -1.007202
4  gmKc3d1GOD  1.059012       NaN -0.286439